<div class="container" id="app">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8">
          <h3>Todos App</h3>
        </div>
        <div class="col-md-4">
          <h6 class="text-right"><span class="badge badge-secondary">
            Last Update: {{ (lastUpdate | async) | date: 'mediumTime' }} | Total items: {{ (todos | async).length }}</span>
          </h6>
        </div>
        <div class="col-md-12">

          <h6 class="card-subtitle mb-2 text-muted">
            Using Angular4 & Redux
          </h6>
        </div>
      </div>
    </div>
    <div class="panel-body">
     
      <button class="btn btn-primary" (click)="cleartTodos()">
        Delete All
      </button>
    </div>
  </div>
</div>
