.wrapper {
  display: flex;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

.custom-nav {
  position: fixed;
  padding-left: 255px;
  border-radius: 0px;
}

.btn-transparent {
  background: transparent;
  padding: 7px 7px 0px 7px;
  color: wheat;
}

.btn-light.active, .btn-light:active, .show>.btn-light.dropdown-toggle {
  border-color: transparent;
}

.btn-light:hover {
  border-color: wheat;
  border-radius: 100%;
}

.btn-light:focus {
  box-shadow: none;
  outline: none;
}

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  width: 100%;
}
ul.CTAs {
  padding: 20px;
}
a.article, a.article:hover {
  background: rgba(109, 102, 92, 0.18) !important;
  color: #fff !important;
  border-radius: 6px;
  text-align: center;
  font-family: fantasy;
}