<div *ngIf="user" class="row">
  <div class="col-md-offset-2 col-md-6 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group" id="adv-search">
              <input type="text" name="username" class="form-control" placeholder="Github Username" [(ngModel)]="username.name" (keyup.enter)="search()">
              <div class="input-group-btn">
                <div class="btn-group" role="group">
                  <button type="submit" class="btn btn-primary" (click)="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top: 2%;">
            <img width="200" height="200" src="{{user.avatar_url}}">
          </div>
          <div class="col-md-8">
            <div class="stats" style="margin-top:2.3%;margin-left: 10px;">
              <span class="label label-primary">{{user.public_repos}} Public Repos</span>
              <span class="label label-success">{{user.public_gists}} Public Gists</span>
              <span class="label label-info">{{user.followers}} Followers</span>
              <span class="label label-warning">{{user.following}} Following</span>
            </div>
            <br>
            <ul class="list-group" style="margin-left: 10px;">
              <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
              <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
              <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
              <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
              <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at| date: 'medium'}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-offset-2 col-md-6 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">{{user.name}}s Repos</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div *ngFor="let repo of repos">
              <div class="row">
                <div class="col-md-9">
                  <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                  <p>{{repo.description}}</p>
                </div>
                <div class="col-md-3">
                  <span class="label label-primary">{{repo.watchers}} Watchers</span>
                  <span class="label label-success">{{repo.forks}} Forks</span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
